@{
    ViewBag.Title = "Verificar Código";
}

<div class="form-container">
    <h2>Verificar Código</h2>

    <form id="verifyCodeForm" method="post" action="@Url.Action("VerifyResetCode", "User")">
        <div class="form-group">
            <label for="code">Código de Verificación</label>
            <input type="text" id="code" name="enteredCode" class="form-control" required />
        </div>

        <div class="form-buttons">
            <button type="submit" class="btn minimal-btn">Verificar</button>
            <a href="@Url.Action("ForgotPassword", "User")" class="btn minimal-btn-cancel">Cancelar</a>
        </div>
    </form>
</div>
